<!DOCTYPE html>
<html>
  <head>
    <title>RailsTodolist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body style="background-color:<%=next_color%>" hx-headers='{"X-CSRF-Token": "<%= form_authenticity_token %>"}'>
    <main class="container p-10 mx-auto" style="background-color:<%=next_color%>">
      <%= yield %>
    </main>
  </body>
</html>
